<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:300,400|Montserrat:400,700" rel="stylesheet">
   @* <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">*@
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!-- Animate.css -->
    <link rel="stylesheet" href="~/css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="~/css/icomoon.css">
    <!-- Themify Icons-->
    <link rel="stylesheet" href="~/css/themify-icons.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="~/css/bootstrap.css">

    <!-- Owl Carousel  -->
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">

    <!-- Theme style  -->
    <link rel="stylesheet" href="~/css/style.css">

    <!-- Modernizr JS -->
    <script src="~/js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="js/respond.min.js"></script>
    <![endif]-->


    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

 <div class="gtco-loader"></div>
    <div id="page">
        <nav class="navbar navbar-default navbar-fixed-top navbar-primary gtco-nav" role="navigation">
            <div class="gtco-container">
                <div class="row">
                    <div class="col-sm-2 col-xs-12">
                        <div id="gtco-logo"><a href="index.html" />@*<img src="~/images/bagmatiLogo.png" alt="Bagmati Logo"/>*@BAGMATI</div>
                    </div>
                    <div class="col-xs-10 text-right menu-1">
                        <ul>
                            <li class="active"><a href="index.html">Home</a></li>
                            <li class="has-dropdown">
                                <a href="services.html">Categories</a>
                                <ul class="dropdown">
                                    <li><a href="#">Bathroom Utilities</a></li>
                                    <li><a href="#">Kitcen Utilities</a></li>
                                    <li><a href="#">Dustbins</a></li>
                                    <li><a href="#">Pet Perform</a></li>
                                    <li><a href="#">Thermoware</a></li>
                                </ul>
                            </li>
                            <li class="has-dropdown">
                                <a href="services.html">Brands</a>
                                <ul class="dropdown">
                                    <li><a href="#">Rhino</a></li>
                                    <li><a href="#">Bagmati-Ware</a></li>
                                    <li><a href="#">Fishtail</a></li>
                                    <li><a href="#">Stripe</a></li>
                                </ul>
                            </li>
                            <li><a href="about.html">Products</a></li>
                            <li><a href="about.html">About Us</a></li>
                            <li><a href="portfolio.html">Contact Us</a></li>
                            <li><a href="contact.html">Certificates</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </nav>

        <div class="container" style="margin-top:100px">
            <div class="row">
                <div class="col-md-12">
                        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators" style="padding:5px;">
                                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                <li data-target="#myCarousel" data-slide-to="1"></li>
                                <li data-target="#myCarousel" data-slide-to="2"></li>
                                <li data-target="#myCarousel" data-slide-to="3"></li>
                                <li data-target="#myCarousel" data-slide-to="4"></li>
                                <li data-target="#myCarousel" data-slide-to="5"></li>
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img src="~/images/car1.png" alt="Los Angeles" style="width:100%;">
                                </div>

                                <div class="item">
                                    <img src="~/images/car2.png" alt="Chicago" style="width:100%;">
                                </div>

                                <div class="item">
                                    <img src="~/images/car1.png" alt="New york" style="width:100%;">
                                </div>
                                <div class="item">
                                    <img src="~/images/car1.png" alt="New york" style="width:100%;">
                                </div>
                                <div class="item">
                                    <img src="~/images/car1.png" alt="New york" style="width:100%;">
                                </div>
                                <div class="item">
                                    <img src="~/images/car1.png" alt="New york" style="width:100%;">
                                </div>
                            </div>

                            <!-- Left and right controls -->
                            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>     
                </div>
             </div>

        <div class="section2">
            <div class="container slider">
                <div class="slider-title-red">
                    <h2>NEW PRODUCTS</h2>
                </div>
                <div class="owl-carousel owl-theme over">
                    <div class="catbox">
                        <a href="https://bagmatiplastic.com/category/new-product/">
                            <div class="background-overlay "></div>
                            <div class="catbox-holder">
                                <img src="~/images/BUCKET-17-LTR-1536x1024.jpg" class="img-resposive">

                            </div>
                            <h4 class="text-center">BUCKET 17 LTR</h4>
                        </a>
                    </div>
                    <div class="catbox">
                        <a href="https://bagmatiplastic.com/category/thermoware">
                            <div class="background-overlay "></div>
                            <div class="catbox-holder">
                                <img src="~/images/BUCKET-15-LTR-1536x1024.jpg" class="img-resposive">
                                <div class="catbox-name">
                                    <h5>BUCKET 15 LTR</h5>
                                </div>

                            </div>
                        </a>
                    </div>
                    <div class="catbox">
                        <a href="https://bagmatiplastic.com/category/new-product/bathroom-utilities">
                            <div class="background-overlay "></div>
                            <div class="catbox-holder">
                                <img src="~/images/BUCKET-13-LTR-1536x1024.jpg" class="img-resposive">
                                <div class="catbox-name">
                                    <h5>BUCKET 13 LTR</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="catbox">
                        <a href="https://bagmatiplastic.com/category/dustbins">
                            <div class="background-overlay "></div>
                            <div class="catbox-holder">
                                <img src="~/images/BUCKET-10-LTR-1536x1024.jpg" class="img-resposive">
                                <div class="catbox-name">
                                    <h5>BUCKET 10 LTR</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="catbox">
                        <a href="https://bagmatiplastic.com/category/kitchen-utilities">
                            <div class="background-overlay "></div>
                            <div class="catbox-holder">
                                <img src="~/images/BUCKET-9-LTR-WITH-LID-1536x1024.jpg" class="img-resposive">
                                <div class="catbox-name">
                                    <h5>BUCKET 9 LTR WITH LEAD</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="catbox">
                        <a href="https://bagmatiplastic.com/category/miscellaneous">
                            <div class="background-overlay "></div>
                            <div class="catbox-holder">
                                <img src="~/images/IMG_0685_ed-1536x1024.jpg" class="img-resposive">
                                <div class="catbox-name">
                                    <h5>RHINO JUG</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="catbox">
                        <a href="https://bagmatiplastic.com/category/new-product">
                            <div class="background-overlay "></div>
                            <div class="catbox-holder">
                                <img src="~/images/IMG_1476-1536x1024.jpg" class="img-resposive">
                                <div class="catbox-name">
                                    <h5>RHINO DUSTPAN BIG</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="catbox">
                        <a href="https://bagmatiplastic.com/category/new-product">
                            <div class="background-overlay "></div>
                            <div class="catbox-holder">
                                <img src="~/images/IMG_1479-1536x1024.jpg" class="img-resposive">
                                <div class="catbox-name">
                                    <h5>RHINO STOOL</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="catbox">
                        <a href="https://bagmatiplastic.com/category/new-product">
                            <div class="background-overlay "></div>
                            <div class="catbox-holder">
                                <img src="~/images/IMG_1976-1536x1024.jpg" class="img-resposive">
                                <div class="catbox-name">
                                    <h5>SHOPPING MALL BASKET</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>PRODUCT CATEGORIES</h2>
                    <ul class="honeycomb">

                        <li class="honeycomb-cell">
                            <a href="https://bagmatiplastic.com/category/new-product/">
                                <img class="honeycomb-cell_img" src="~/images/pet-prefor.jpg">

                                <div class="honeycomb-cell_title"><small>Pet Perform</small></div>
                            </a>
                        </li>

                        <li class="honeycomb-cell">
                            <img class="honeycomb-cell_img" src="~/images/masala-box.jpg">
                            <div class="honeycomb-cell_title"><small>Kitchen Utilities</small></div>
                        </li>
                        <li class="honeycomb-cell">
                            <img class="honeycomb-cell_img" src="~/images/misc.jpg">
                            <div class="honeycomb-cell_title"><small>Miscellaneous</small></div>
                        </li>
                        <li class="honeycomb-cell">
                            <img class="honeycomb-cell_img" src="~/images/NEW-PRODUCT.png">
                            <div class="honeycomb-cell_title"><small>New Product</small></div>
                        </li>
                        <li class="honeycomb-cell">
                            <img class="honeycomb-cell_img" src="~/images/Untitled-design-2.png">
                            <div class="honeycomb-cell_title"><small>Thermoware</small></div>
                        </li>
                        <li class="honeycomb-cell">
                            <img class="honeycomb-cell_img" src="~/images/c-4.png">
                            <div class="honeycomb-cell_title"><small>Bathroom Utilities</small></div>
                        </li>
                        <li class="honeycomb-cell">
                            <img class="honeycomb-cell_img" src="~/images/c-3.png">
                            <div class="honeycomb-cell_title"><small>Dustbins</small></div>
                        </li>

                        <li class="honeycomb-cell honeycomb_Hidden">
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <footer>
            <div class="container">
                <div class="container text-center text-md-left mt-5">
                    <div class="footer-top">
                        <div class="row">
                            <div class="col-md-4 mx-auto" style="text-align:center;">
                                <div class="title-header">
                                    <h5 class="title-header">Products</h5>
                                </div>
                                <ul class="footer-product-list" style="text-transform:uppercase;list-style-type:none;">
                                    <li>
                                        Thermoware
                                    </li>
                                    <li>
                                        Bathroom Utilities
                                    </li>
                                    <li>
                                        Dustbins
                                    </li>
                                    <li>
                                        Kitchen Utilities
                                    </li>
                                    <li>
                                        Pet Perform
                                    </li>
                                    <li>
                                        Miscellaneous
                                    </li>
                                </ul>

                                <div class="social-links">
                                    <ul>
                                        <li class="social-item">
                                            <a href="https://www.facebook.com/BAGMATIPLASTIC/" target="_blank">
                                                <i class="fa fa-facebook-f"></i>
                                            </a>
                                        </li>
                                        <li class="social-item">
                                            <a href="https://www.instagram.com/bagmatiplastic/" target="_blank">
                                                <i class="fa fa-instagram"></i>
                                            </a>
                                        </li>
                                        <li class="social-item">
                                            <a href="#" target="_blank">
                                                <i class="fa fa-twitter">
                                                </i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-4 mx-auto">
                                <h5 class="title-header" style="color:#fff;">Contact Us</h5>
                                <h6 class="title-subheader">Corporate office</h6>
                                <ul class="address_list" style="list-style-type:none;line-height:24px;text-align:center;margin-right: 20px">
                                    <li><i class="fa fa-map-marker" aria-hidden="true" style="color:#00adf1"></i>&nbsp Four Square Building, Narayanchour, Naxal Kathmandu Nepal</li>
                                    <li><i class="fa fa-phone" aria-hidden="true" style="color:#00adf1"></i>&nbsp +977-9801121153</li>
                                    <li><i class="fa fa-envelope" aria-hidden="true" style="color:#00adf1"></i>&nbsp pankajrathi13@gmail.com</li>
                                </ul>
                                <br>
                                <h6 class="widget-subtitle" style="color:#fff;text-align:center">Factory</h6>
                                <ul class="address_list" style="list-style-type:none;text-align:center;margin-right: 20px">
                                    <li><i class="fa fa-map-marker" aria-hidden="true" style="color:#00adf1"></i>&nbsp Malaya Road, Biratnagar-13</li>
                                    <li><i class="fa fa-phone" aria-hidden="true" style="color:#00adf1"></i>&nbsp 021-435407</li>
                                    <li><i class="fa fa-envelope" aria-hidden="true" style="color:#00adf1"></i>&nbsp bagmatiplastic@gmail.com </li>
                                </ul>
                            </div>
                            <div class="col-md-4">
                                <h5 class="title-header">Enquiry</h5>
                                <form class="form">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Your Name *" />
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Your Email *" />
                                    </div>

                                    <div class="form-group">
                                        <textarea class="form-control" rows="3" cols="10" placeholder="Message" id="message" style="width:355px"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-primary btn-danger">Send</button>
                                    </div>
                                </form>
                            </div>

                        </div>

                    </div>
                    <div class="page_copyright" style="padding: 8px 0;border-top:1px solid #5a5a5a;line-height:25px;">
                        <div class="col-sm-12 col-md-12 text-center">
                            <p style="color:#fff; font-size: 12px; font-weight: 600;">© Copyright 2020 </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <div class="gototop js-top">
        <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
    </div>
    @RenderBody()

    <!-- jQuery -->
    <script src="~/js/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="~/js/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="~/js/bootstrap.min.js"></script>
    <!-- Waypoints -->
    <script src="~/js/jquery.waypoints.min.js"></script>
    <!-- Carousel -->
    <script src="~/js/owl.carousel.min.js"></script>

    <!-- Main -->
    <script src="~/js/main.js"></script>

    @*<script src="~/Scripts/owlcarousel/owl.carousel.min.js"></script>*@
    <script>
        var owl = $('.owl-carousel');
        owl.owlCarousel({
            items: 4,
            loop: true,
            margin: 10,
            autoplay: false,
            autoplayTimeout: 1000,
            autoplayHoverPause: true
        });
        $('.play').on('click', function () {
            owl.trigger('play.owl.autoplay', [1000])
        })
        $('.stop').on('click', function () {
            owl.trigger('stop.owl.autoplay')
        })
      </script>
</body >
</html >
